﻿@media (max-width: 768px){
    .buttons__button_left:hover {
        background: white;
        color: black;
        transition: 0.3s;
    }

    body {
        width: 991px;
        margin: 0 auto;
        position: relative;
    }

    header {
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .top_header {
        width: 768px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
        border-bottom: solid black;
        border-width: 3px;
    }
    
    .top_header__title {
        padding-top: 17px;
        border: 5px solid #000000;
        border-radius: 8px;
        height: 40px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 24px;
    }

    .top_header__navigation {
        display: flex;
        align-self: center;
        width: 768px;
        justify-content: space-between;
    }

    .top_header__navigation__button {
        width: 130px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 24px;
        color: #000000;
    }

    .title {
        margin-top: 120px;
        width: 768px;
        height: 128px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 72px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .subtitle {
        margin-top: 90px;
        width: 700px;
        height: 128px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        color: #000000;
    }

    .buttons {
        margin-top:80px;
        display: flex;
        justify-content: center;
    }

    .buttons__button_left {
        display: flex;
        padding: 30px 30px 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #181818;
        border: 2px solid #181818;
        border-radius: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 7px;
        text-decoration: none;
    }

    .buttons__button_right {
        margin-left: 7px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px 38px 30px;
        border: 2px solid #181818;
        border-radius: 8px;
        text-decoration: none;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 24px;
        color: #181818;
    }

    .buttons__button_right:hover {
        background: black;
        color: white;
        transition: 0.3s;
    }

    .buttons__button_right img {
        margin-right: 12px;
    }

    .portfolio {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio__navigation {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 800px;
        height: 32px;
    }

    .portfolio__navigation__button {
        display: flex;
        flex-direction: row;
        background-color: white;
        align-items: flex-start;
        padding: 15px 30px;
        border: 1px solid #000000;
        border-radius: 10000px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        color: #181818;
    }
    
    .active {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .portfolio__navigation__button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .hidden_img {
        display: none;
    }

    .portfolio__example {
        margin-top: 40px;
    }

    .portfolio__example__big {
        margin-top: 40px;
        object-fit:cover;
        width: 100%;
        height: 500px;
        border: 1px solid #DBDBDB;
        border-radius: 20px;    
    }

    .portfolio__example__container {
        display: flex;
        flex-direction: column;
    }

    .portfolio__example__small {
        margin-top: 40px;
        width: 100%;
        height: 500px;
        border: 1px solid #DBDBDB;
        border-radius: 20px;
        object-fit:cover;
    }

    .about_me {
        margin-top: 120px;
        display: flex;
        justify-content: center;
    }

    .about_me img {
        width: 400px;
        height: 560px;
        object-fit:cover;
    }

    .about_me__text__title {
        width: 478px;
        height: 64px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .about_me__text__main_text {
        width: 484px;
        margin-top: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #000000;
    }

    .about_me__text__achievments {
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
    }

    .about_me__text__achievments__example {
        width: 79px;
        height: 88px;
    }

    .about_me__text__achievments__example__bold {
        width: 41px;
        height: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
    }

    .about_me__text__achievments__example__main {
        width: 79px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
        margin-top: 16px;
    }

    .about_me__text__achievments__example__main_3 {
        width: 46px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
        margin-top: 16px;
    }

    .service {
        margin-top: 120px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service__title {
        margin-top: 120px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    .service__title__container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
    }

    .service__title__container__example {
        margin: 10px 0;
        padding: 60px;
        background: #FFFFFF;
        border-radius: 16px;
    }


    .service__title__container__example__frame__text__number {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
        opacity: 0.5;
        width: 500px;
        height: 24px;
    }

    .service__title__container__example__frame__text__title {
        margin-top: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        color: #181818;
        width: 500px;
        height: 24px;
    }

    .service__title__container__example__frame__main {
        margin-top: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
        width: 500px;
        height: 96px;
    }

    .service__title__container__example__frame img {
        margin-top: 100px;
    }

    .service__title__container__example__frame__price {
        margin-top: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
    }

    .cost {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cost__title {
        margin-top: 120px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .cost__block_form {
        padding: 40px 50px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;
        margin-top: 80px;
    }

    .cost__block_form__areas {
        display: flex;
        width: 500px;
        height: 192px;
        flex-direction: column;
        align-self: center;
        padding: 40px 24px;
        justify-content: space-between;
    }

    .cost__block_form__areas__type {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    .cost__block_form__areas__type__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 24px;
        color: #808080;
    }

    .cost__block_form__areas__type img{
        object-fit:cover;
        width: 10px;
        height: 8px;
        align-self: center;
    }

    .cost__block_form__areas__check {
        display: flex;
        width: 363px;
        justify-content: space-between;
    }

    .cost__block_form__areas__check__box {
        border: 1px solid #808080;
        border-radius: 4px;
        transform: scale(2);
    }

    .cost__block_form__areas__check__text {
        height: 48px;
        margin-left: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_form__button {
        padding: 15px 24px 17px;
        border: 2px solid #181818;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 24px;    
        color: #181818;
    }

    .cost__block_result {
        padding: 40px 50px;
        width: 400px;
        height: 384px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 0px 0px 16px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: none;
    }

    .cost__block_result__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .cost__block_result__price {
        width: 220px;
        height: 48px;
    }

    .cost__block_result__price__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__price__value {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        color: #181818;
        margin-top: 10px;
    }

    .cost__block_result__dates {
        width: 261px;
        height: 48px;    
    }

    .cost__block_result__dates__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__dates__range {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        color: #181818;
        margin-top: 10px;
    }

    .cost__block_result__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        background: #181818;
        border-radius: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .cost__block_form__button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .cost__block_result__button:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .qa {
        margin-top: 120px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .qa__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-top: 120px;
    }

    .qa__container {
        margin-top: 40px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    .qa__container__big_example {
        margin-top: 20px;
        padding: 32px 40px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 16px;
        transition: 0.3s;
    }

    .qa__container__big_example__title {
        display: flex;
        justify-content: space-between;
    }

    .qa__container__big_example__title__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 24px;
        color: #181818;
    }

    .qa__container__big_example__title img {
        width: 16px;
        height: 16px;
        align-self: center;
    }

    .qa__rotate {
        transform: rotate(45deg)
    }

    .qa__container__big_example__main_text {
        width: 800px;
        height: 216px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
        display: none;
    }

    .qa_open {
        display: unset;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
        margin-top: 120px;
    }

    .footer__subtitle {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
        margin-top: 8px;
    }

    .footer__form {
        margin-top: 40px;
        padding: 40px 40px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;
        margin-bottom: 160px;
    }

    .footer__form__areas {
        width: 500px;
        height: 464px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__form__areas__text {
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        padding: 12px 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 24px;
        color: #808080;
    }

    .footer__form__areas__select {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    .footer__form__areas__select img{
        width: 15px;
        height: 8px;
        align-self: center;
        object-fit:cover;
    }

    .footer__form__areas__select__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 24px;
        color: #808080;    
    }

    .footer__form__areas__comment {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        height: 160px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 24px;
        color: #808080;
    }

    .footer__form__areas__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        background: #181818;
        border-radius: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .programmer_1 {
        position: absolute;
        right: 148px;
        top: 26px;
        background: #F1F1F1;
        border-radius: 10000px;
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .comment_1 {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 209px;
        top: 362px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .zip_1 {
        position: absolute;
        width: 100px;
        height: 100px;
        right: 169px;
        top: 410px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .trophey {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 227px;
        top: 3180px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .clock {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 61px;
        top: 4532px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .programmer_2 {
        position: absolute;
        width: 170px;
        height: 170px;
        right: 64px;
        bottom: 2823px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .zip_2 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 111px;
        bottom: 774px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .programmer_3 {
        position: absolute;
        width: 170px;
        height: 170px;
        right: 18px;
        bottom: 322px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .comment_2 {
        position: absolute;
        width: 140px;
        height: 140px;
        left: 250px;
        bottom: 116px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .portfolio__navigation__button_black:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .portfolio__navigation__button_white:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .cost__block_form__button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .cost__block_result__button:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    body {
        width: 991px;
        margin: 0 auto;
        position: relative;
    }

    header {
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .top_header {
        width: 768px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
        border-bottom: solid black;
        border-width: 3px;
    }
    
    .top_header__title {
        padding-top: 17px;
        border: 5px solid #000000;
        border-radius: 8px;
        height: 40px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 24px;
    }

    .top_header__navigation {
        display: flex;
        align-self: center;
        width: 768px;
        justify-content: space-between;
    }

    .top_header__navigation__button {
        width: 97px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color: #000000;
    }

    .title {
        margin-top: 120px;
        width: 768px;
        height: 128px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 72px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .subtitle {
        margin-top: 90px;
        width: 700px;
        height: 128px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        color: #000000;
    }

    .buttons {
        margin-top:80px;
        display: flex;
        justify-content: center;
    }

    .buttons__button_left {
        display: flex;
        padding: 30px 30px 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #181818;
        border: 2px solid #181818;
        border-radius: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 7px;
        text-decoration: none;
    }

    .buttons__button_right {
        margin-left: 7px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px 38px 30px;
        border: 2px solid #181818;
        border-radius: 8px;
        text-decoration: none;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 24px;
        color: #181818;
    }
    
    .buttons__button_right:hover {
        background: black;
        color: white;
        transition: 0.3s;
    }

    .buttons__button_right img {
        margin-right: 12px;
    }

    .portfolio {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio__navigation {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 800px;
        height: 32px;
    }

    .portfolio__navigation__button {
        display: flex;
        flex-direction: row;
        background-color: white;
        align-items: flex-start;
        padding: 15px 30px;
        border: 1px solid #000000;
        border-radius: 10000px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        color: #181818;
        transition: 0.3s;
    }

    .active {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .active:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .portfolio__navigation__button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .hidden_img {
        display: none;
    }

    .portfolio__example {
        margin-top: 40px;
    }

    .portfolio__example__big {
        margin-top: 40px;
        object-fit:cover;
        width: 100%;
        height: 500px;
        border: 1px solid #DBDBDB;
        border-radius: 20px;    
    }

    .portfolio__example__container {
        display: flex;
        flex-direction: column;
    }

    .portfolio__example__small {
        margin-top: 40px;
        width: 100%;
        height: 500px;
        border: 1px solid #DBDBDB;
        border-radius: 20px;
        object-fit:cover;
    }

    .about_me {
        margin-top: 120px;
        display: flex;
        justify-content: center;
    }

    .about_me img {
        width: 400px;
        height: 560px;
        object-fit:cover;
    }

    .about_me__text__title {
        width: 478px;
        height: 64px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .about_me__text__main_text {
        width: 484px;
        margin-top: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #000000;
    }

    .about_me__text__achievments {
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
    }

    .about_me__text__achievments__example {
        width: 79px;
        height: 88px;
    }

    .about_me__text__achievments__example__bold {
        width: 41px;
        height: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
    }

    .about_me__text__achievments__example__main {
        width: 79px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
        margin-top: 16px;
    }

    .about_me__text__achievments__example__main_3 {
        width: 46px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
        margin-top: 16px;
    }

    .service {
        margin-top: 120px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service__title {
        margin-top: 120px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    .service__title__container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
    }

    .service__title__container__example {
        margin: 10px 0;
        padding: 60px;
        background: #FFFFFF;
        border-radius: 16px;
    }


    .service__title__container__example__frame__text__number {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
        opacity: 0.5;
        width: 500px;
        height: 24px;
    }

    .service__title__container__example__frame__text__title {
        margin-top: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        color: #181818;
        width: 500px;
        height: 24px;
    }

    .service__title__container__example__frame__main {
        margin-top: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
        width: 500px;
        height: 96px;
    }

    .service__title__container__example__frame img {
        margin-top: 100px;
    }

    .service__title__container__example__frame__price {
        margin-top: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
    }

    .cost {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cost__title {
        margin-top: 120px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .cost__block_form {
        padding: 40px 50px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;
        margin-top: 80px;
    }

    .cost__block_form__areas {
        display: flex;
        width: 500px;
        height: 192px;
        flex-direction: column;
        align-self: center;
        padding: 40px 24px;
        justify-content: space-between;
    }

    .cost__block_form__areas__type {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    .cost__block_form__areas__type__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 24px;
        color: #808080;
    }

    .cost__block_form__areas__type img{
        object-fit:cover;
        width: 10px;
        height: 8px;
        align-self: center;
    }

    .cost__block_form__areas__check {
        display: flex;
        width: 363px;
        justify-content: space-between;
    }

    .cost__block_form__areas__check__box {
        border: 1px solid #808080;
        border-radius: 4px;
        transform: scale(2);
    }

    .cost__block_form__areas__check__text {
        height: 48px;
        margin-left: 20px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_form__button {
        padding: 15px 24px 17px;
        border: 2px solid #181818;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 24px;    
        color: #181818;
    }

    .cost__block_result {
        padding: 40px 50px;
        width: 400px;
        height: 384px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 0px 0px 16px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: none;
    }

    .cost__block_result__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .cost__block_result__price {
        width: 220px;
        height: 48px;
    }

    .cost__block_result__price__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__price__value {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        color: #181818;
        margin-top: 10px;
    }

    .cost__block_result__dates {
        width: 261px;
        height: 48px;    
    }

    .cost__block_result__dates__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__dates__range {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 24px;
        color: #181818;
        margin-top: 10px;
    }

    .cost__block_result__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        background: #181818;
        border-radius: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .cost__block_form__button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .cost__block_result__button:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .qa {
        margin-top: 120px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .qa__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-top: 120px;
    }

    .qa__container {
        margin-top: 40px;
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    .qa__container__big_example {
        margin-top: 20px;
        padding: 32px 40px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 16px;
    }

    .qa__container__big_example__title {
        display: flex;
        justify-content: space-between;
    }

    .qa__container__big_example__title__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
    }

    .qa__container__big_example__title img {
        width: 16px;
        height: 16px;
        align-self: center;
    }

    .qa__rotate {
        transform: rotate(45deg)
    }

    .qa__container__big_example__main_text {
        width: 700px;
        height: 216px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
        display: none;
    }

    .qa_open {
        display: unset;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
        margin-top: 120px;
    }

    .footer__subtitle {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 24px;
        color: #181818;
        margin-top: 8px;
    }

    .footer__form {
        margin-top: 40px;
        padding: 40px 40px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;
        margin-bottom: 160px;
    }

    .footer__form__areas {
        width: 500px;
        height: 464px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__form__areas__text {
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        padding: 12px 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 24px;
        color: #808080;
    }

    .footer__form__areas__select {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    .footer__form__areas__select img{
        width: 15px;
        height: 8px;
        align-self: center;
        object-fit:cover;
    }

    .footer__form__areas__select__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 24px;
        color: #808080;    
    }

    .footer__form__areas__comment {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        height: 160px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 24px;
        color: #808080;
    }

    .footer__form__areas__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        background: #181818;
        border-radius: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .programmer_1 {
        position: absolute;
        right: 148px;
        top: 26px;
        background: #F1F1F1;
        border-radius: 10000px;
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .comment_1 {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 209px;
        top: 362px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .zip_1 {
        position: absolute;
        width: 100px;
        height: 100px;
        right: 169px;
        top: 410px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .trophey {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 227px;
        top: 3180px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .clock {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 61px;
        top: 4532px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .programmer_2 {
        position: absolute;
        width: 170px;
        height: 170px;
        right: 64px;
        bottom: 2823px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .zip_2 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 111px;
        bottom: 774px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .programmer_3 {
        position: absolute;
        width: 170px;
        height: 170px;
        right: 18px;
        bottom: 322px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .comment_2 {
        position: absolute;
        width: 140px;
        height: 140px;
        left: 250px;
        bottom: 116px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .buttons__button_left:hover {
        background: white;
        color: black;
        transition: 0.3s;
    }

    .portfolio__navigation__button_black:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .portfolio__navigation__button_white:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .cost__block_form__button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .cost__block_result__button:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }
}

@media (min-width: 992px) and (max-width: 1280px){
    body {
        width: 1280px;
        margin: 0 auto;
        position: relative;
    }


    header {
        margin: 0 auto;
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top_header {
        width: 1160px;
        display: flex;
        justify-content: flex-start;
    }
    
    .top_header__title {
        justify-self: flex-start;
        padding: 4px 8px;
        border: 2px solid #000000;
        border-radius: 8px;
        width: 93px;
        height: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .top_header__navigation {
        display: flex;
        align-self: center;
        justify-self: center;
        width: 446px;
        justify-content: space-between;
        margin-left: 256px;
    }

    .top_header__navigation__button {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .title {
        margin: 0 auto;
        margin-top: 120px;
        width: 804px;
        height: 128px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .subtitle {
        margin: 0 auto;
        margin-top: 40px;
        width: 484px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }

    .buttons {
        margin-top:80px;
        display: flex;
        justify-content: center;
    }

    .buttons__button_left {
        display: flex;
        padding: 15px 24px 17px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #181818;
        border: 2px solid #181818;
        border-radius: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 7px;
        text-decoration: none;
    }

    .buttons__button_left:hover {
        background: white;
        color: black;
        transition: 0.3s;
    }

    .buttons__button_right {
        margin-left: 7px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        border: 2px solid #181818;
        border-radius: 8px;
        text-decoration: none;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
    }

    .buttons__button_right:hover {
        background: black;
        color: white;
        transition: 0.3s;
    }

    .buttons__button_right img {
        margin-right: 12px;
    }

    .portfolio {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .portfolio__navigation {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0px;
        width: 473px;
        height: 32px;
    }

    .hidden_img {
        display: none;
    }

    .portfolio__navigation__button {
        display: flex;
        flex-direction: row;
        background-color: white;
        align-items: flex-start;
        padding: 4px 16px;
        border: 1px solid #000000;
        border-radius: 10000px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        transition: 0.3s;
    }

    .active {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .active:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .portfolio__navigation__button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .portfolio__example {
        margin: auto;
    }

    .portfolio__example__big {
        margin-top: 40px;
        object-fit:cover;
        width: 1160px;
        height: 460px;
        border: 1px solid #DBDBDB;
        border-radius: 20px;    
    }

    .portfolio__example__container {
        display: flex;
        justify-content: space-between;
        width: 1160px;
    }

    .portfolio__example__small {
        margin-top: 40px;
        width: 560px;
        height: 400px;
        border: 1px solid #DBDBDB;
        border-radius: 20px;
        object-fit:cover;
    }

    .about_me {
        margin-top: 120px;
        display: flex;
        justify-content: center;
    }

    .about_me img {
        width: 400px;
        height: 560px;
        object-fit:cover;
    }

    .about_me__text__title {
        width: 478px;
        height: 64px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .about_me__text__main_text {
        width: 484px;
        height: 168px;
        margin-top: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .about_me__text__achievments {
        margin-top: 64px;
        display: flex;
        justify-content: space-around;
    }

    .about_me__text__achievments__example {
        width: 79px;
        height: 88px;
    }

    .about_me__text__achievments__example__bold {
        width: 41px;
        height: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
    }

    .about_me__text__achievments__example__main {
        width: 79px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        margin-top: 16px;
    }

    .about_me__text__achievments__example__main_3 {
        width: 46px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        margin-top: 16px;
    }

    .service {
        margin-top: 120px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service__title {
        margin-top: 120px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    .service__title__container {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        margin-bottom: 120px;
    }

    .service__title__container__example {
        margin: 0 28px;
        padding: 40px;
        background: #FFFFFF;
        border-radius: 16px;
    }


    .service__title__container__example__frame__text__number {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
        opacity: 0.5;
        width: 288px;
        height: 24px;
    }

    .service__title__container__example__frame__text__title {
        margin-top: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
        width: 288px;
        height: 24px;
    }

    .service__title__container__example__frame__main {
        margin-top: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        width: 288px;
        height: 96px;
    }

    .service__title__container__example__frame img {
        margin-top: 56px;
    }

    .service__title__container__example__frame__price {
        margin-top: 56px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
    }

    .cost {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cost__title {
        margin-top: 120px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .cost__block_form {
        padding: 40px 24px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;
        margin-top: 80px;
    }

    .cost__block_form__areas {
        display: flex;
        width: 400px;
        height: 192px;
        flex-direction: column;
        align-self: center;
        padding: 40px 24px;
        justify-content: space-between;
    }

    .cost__block_form__areas__type {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    .cost__block_form__areas__type__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
    }

    .cost__block_form__areas__type img{
        object-fit:cover;
        width: 8px;
        height: 4px;
        align-self: center;
    }

    .cost__block_form__areas__check {
        display: flex;
        width: 363px;
        justify-content: space-between;
    }

    .cost__block_form__areas__check__box {
        border: 1px solid #808080;
        border-radius: 4px;
    }

    .cost__block_form__areas__check__text {
        width: 331px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_form__button {
        padding: 15px 24px 17px;
        border: 2px solid #181818;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;    
        color: #181818;
    }

    .cost__block_result {
        padding: 40px 24px;
        width: 400px;
        height: 384px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 0px 0px 16px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: none;
    }

    .cost__block_result__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .cost__block_result__price {
        width: 120px;
        height: 48px;
    }

    .cost__block_result__price__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__price__value {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__dates {
        width: 161px;
        height: 48px;    
    }

    .cost__block_result__dates__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__dates__range {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        background: #181818;
        border-radius: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .cost__block_form__button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .cost__block_result__button:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .qa {
        margin-top: 120px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .qa__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-top: 120px;
    }

    .qa__container {
        margin-top: 80px;
        width: 991px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    .qa__container__big_example {
        margin-top: 20px;
        padding: 32px 40px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 16px;
    }

    .qa__container__big_example__title {
        display: flex;
        justify-content: space-between;
    }

    .qa__container__big_example__title__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
    }

    .qa__container__big_example__title img {
        width: 16px;
        height: 16px;
        align-self: center;
    }

    .qa__rotate {
        transform: rotate(45deg)
    }

    .qa__container__big_example__main_text {
        width: 800px;
        height: 216px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        display: none;
    }

    .qa_open {
        display: unset;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
        margin-top: 120px;
    }

    .footer__subtitle {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
        margin-top: 8px;
    }

    .footer__form {
        margin-top: 80px;
        padding: 40px 24px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;
        margin-bottom: 160px;
    }

    .footer__form__areas {
        width: 400px;
        height: 464px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__form__areas__text {
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        padding: 12px 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
    }

    .footer__form__areas__select {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    .footer__form__areas__select img{
        width: 8px;
        height: 4px;
        align-self: center;
    }

    .footer__form__areas__select__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #808080;    
    }

    .footer__form__areas__comment {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        height: 160px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
    }

    .footer__form__areas__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        background: #181818;
        border-radius: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .footer__form__areas__button:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .programmer_1 {
        position: absolute;
        right: 148px;
        top: 26px;
        background: #F1F1F1;
        border-radius: 10000px;
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .comment_1 {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 209px;
        top: 362px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .zip_1 {
        position: absolute;
        width: 100px;
        height: 100px;
        right: 169px;
        top: 410px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .trophey {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 227px;
        top: 3180px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .clock {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 61px;
        top: 4532px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .programmer_2 {
        position: absolute;
        width: 170px;
        height: 170px;
        right: 64px;
        bottom: 2823px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .zip_2 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 111px;
        bottom: 774px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .programmer_3 {
        position: absolute;
        width: 170px;
        height: 170px;
        right: 18px;
        bottom: 322px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }

    .comment_2 {
        position: absolute;
        width: 140px;
        height: 140px;
        left: 250px;
        bottom: 116px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0%;
    }
}

@media (min-width: 1280px) {
    body {
        width: 100%;
        margin: auto;
        position: relative;
    }


    header {
        margin: 42px auto;
        width: 1160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .top_header {
        width: 1160px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: none;
        justify-content: flex-start;
    }
    
    .top_header__title {
        justify-self: flex-start;
        padding: 4px 8px;
        border: 2px solid #000000;
        border-radius: 8px;
        width: 93px;
        height: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .top_header__navigation {
        display: flex;
        align-self: center;
        justify-self: center;
        width: 446px;
        justify-content: space-between;
        margin-left: 256px;
    }

    .top_header__navigation__button {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .title {
        margin: 0 auto;
        margin-top: 120px;
        width: 804px;
        height: 128px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 64px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .subtitle {
        margin: 0 auto;
        margin-top: 40px;
        width: 484px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }

    .buttons {
        margin-top:80px;
        display: flex;
        justify-content: center;
    }

    .buttons__button_left {
        display: flex;
        padding: 15px 24px 17px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #181818;
        border: 2px solid #181818;
        border-radius: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 7px;
        text-decoration: none;
        transition: 0.3s;
    }

    .buttons__button_left:hover {
        background: white;
        color: black;
        transition: 0.3s;
    }

    .buttons__button_right {
        margin-left: 7px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        border: 2px solid #181818;
        border-radius: 8px;
        text-decoration: none;
        transition: 0.3s;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
    }

    .buttons__button_right:hover {
        background: black;
        color: white;
        transition: 0.3s;
    }

    .buttons__button_right img {
        margin-right: 12px;
    }

    .portfolio {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio__navigation {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 5px;
        width: 473px;
        height: 32px;
    }

    .hidden_img {
        display: none;
    }

    .portfolio__navigation__button {
        display: flex;
        flex-direction: row;
        background-color: white;
        align-items: flex-start;
        padding: 4px 16px;
        border: 1px solid #000000;
        border-radius: 10000px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        transition: 0.3s;
    }

    .active {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .active:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .portfolio__navigation__button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .portfolio__example__big {
        margin-top: 40px;
        object-fit: cover;
        width: 1160px;
        height: 460px;
        border: 1px solid #DBDBDB;
        border-radius: 20px;
    }

    .portfolio__example__container {
        display: flex;
        justify-content: space-between;
        width: 1160px;
    }

    .portfolio__example__small {
        margin-top: 40px;
        width: 560px;
        height: 400px;
        border: 1px solid #DBDBDB;
        border-radius: 20px;
        object-fit:cover;
    }

    .about_me {
        margin-top: 120px;
        display: flex;
        justify-content: center;
    }

    .about_me img {
        width: 400px;
        height: 560px;
        object-fit:cover;
    }

    .about_me__text__title {
        width: 478px;
        height: 64px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .about_me__text__main_text {
        width: 484px;
        height: 168px;
        margin-top: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    .about_me__text__achievments {
        margin-top: 64px;
        display: flex;
        justify-content: space-around;
    }

    .about_me__text__achievments__example {
        width: 79px;
        height: 88px;
    }

    .about_me__text__achievments__example__bold {
        width: 41px;
        height: 24px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
    }

    .about_me__text__achievments__example__main {
        width: 79px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        margin-top: 16px;
    }

    .about_me__text__achievments__example__main_3 {
        width: 46px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        margin-top: 16px;
    }

    .service {
        margin-top: 120px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service__title {
        margin-top: 120px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    .service__title__container {
        margin-top: 80px;
        display: flex;
        flex-direction: row;
        margin-bottom: 120px;
    }

    .service__title__container__example {
        margin: 0 28px;
        padding: 40px;
        background: #FFFFFF;
        border-radius: 16px;
    }


    .service__title__container__example__frame__text__number {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
        opacity: 0.5;
        width: 288px;
        height: 24px;
    }

    .service__title__container__example__frame__text__title {
        margin-top: 8px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
        width: 288px;
        height: 24px;
    }

    .service__title__container__example__frame__main {
        margin-top: 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        width: 288px;
        height: 96px;
    }

    .service__title__container__example__frame img {
        margin-top: 56px;
    }

    .service__title__container__example__frame__price {
        margin-top: 56px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #181818;
    }

    .cost {
        margin: 0 auto;
        width: 1280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .cost__title {
        margin-top: 120px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .cost__block_form {
        padding: 40px 24px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;
        margin-top: 80px;
    }

    .cost__block_form__areas {
        display: flex;
        width: 400px;
        height: 192px;
        flex-direction: column;
        align-self: center;
        padding: 40px 24px;
        justify-content: space-between;
    }

    .cost__block_form__areas__type {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    .cost__block_form__areas__type__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
    }

    .cost__block_form__areas__type img{
        object-fit:cover;
        width: 8px;
        height: 4px;
        align-self: center;
    }

    .cost__block_form__areas__check {
        display: flex;
        width: 363px;
        justify-content: space-between;
    }

    .cost__block_form__areas__check__box {
        border: 1px solid #808080;
        border-radius: 4px;
    }

    .cost__block_form__areas__check__text {
        width: 331px;
        height: 48px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_form__button {
        padding: 15px 24px 17px;
        border: 2px solid #181818;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;    
        color: #181818;
        transition: 0.3s;
    }

    .cost__block_result {
        padding: 40px 24px;
        width: 400px;
        height: 384px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 0px 0px 16px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: none;
    }

    .cost__block_result__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
    }

    .cost__block_result__price {
        width: 120px;
        height: 48px;
    }

    .cost__block_result__price__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__price__value {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__dates {
        width: 161px;
        height: 48px;    
    }

    .cost__block_result__dates__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__dates__range {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
    }

    .cost__block_result__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        background: #181818;
        border-radius: 8px;
        border: solid 2px black;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        transition: 0.3s;
    }

    .cost__block_form__button:hover {
        background-color: black;
        color: white;
        transition: 0.3s;
    }

    .cost__block_result__button:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .qa {
        margin-top: 120px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .qa__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        margin-top: 120px;
    }

    .qa__container {
        margin-top: 80px;
        width: 1160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    .qa__container__big_example {
        margin-top: 20px;
        padding: 32px 40px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 16px;
    }

    .qa__container__big_example__title {
        display: flex;
        justify-content: space-between;
    }

    .qa__container__big_example__title__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
    }

    .qa__container__big_example__title img {
        width: 16px;
        height: 16px;
        align-self: center;
    }

    .qa__rotate {
        transform: rotate(45deg)
    }

    .qa__container__big_example__main_text {
        width: 800px;
        height: 216px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #181818;
        display: none;
    }

    .qa_open {
        display: unset;
    }

    footer {
        margin: 0 auto;
        width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .footer__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.02em;
        color: #181818;
        margin-top: 120px;
    }

    .footer__subtitle {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181818;
        margin-top: 8px;
    }

    .footer__form {
        margin-top: 80px;
        padding: 40px 24px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;
        margin-bottom: 160px;
    }

    .footer__form__areas {
        width: 400px;
        height: 464px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer__form__areas__text {
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        padding: 12px 16px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
    }

    .footer__form__areas__select {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    .footer__form__areas__select img{
        width: 8px;
        height: 4px;
        align-self: center;
    }

    .footer__form__areas__select__text {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #808080;    
    }

    .footer__form__areas__comment {
        padding: 12px 16px;
        border: 1px solid #DBDBDB;
        border-radius: 8px;
        height: 160px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #808080;
        resize: none;
    }

    .footer__form__areas__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 24px 17px;
        background: #181818;
        border-radius: 8px;
        border: 2px solid black;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        transition: 0.3s;
    }

    .footer__form__areas__button:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }

    .programmer_1 {
        position: absolute;
        right: 50px;
        top: 26px;
        background: #F1F1F1;
        border-radius: 10000px;
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 100%;
    }

    .comment_1 {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 109px;
        top: 362px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 100%;
    }

    .zip_1 {
        position: absolute;
        width: 100px;
        height: 100px;
        right: 69px;
        top: 410px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 100%;
    }

    .clock {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 61px;
        top: 252px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 100%;
    }

    .programmer_2 {
        position: absolute;
        width: 170px;
        height: 170px;
        right: 64px;
        top: 372px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 100%;
    }

    .zip_2 {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 111px;
        bottom: 774px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 100%;
    }

    .programmer_3 {
        position: absolute;
        width: 170px;
        height: 170px;
        right: 18px;
        bottom: 322px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 100%;
    }

    .comment_2 {
        position: absolute;
        width: 140px;
        height: 140px;
        left: 160px;
        bottom: 116px;
        background: #F1F1F1;
        border-radius: 10000px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 100%;
    }
}