﻿{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шрексолио</title>
    <link rel="stylesheet" href="{% static 'shrek/css/style.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="programmer_1"><img src="{% static 'shrek/images/👨🏻_💻.png' %}"></div>
        <div class="comment_1"><img src="{% static 'shrek/images/💬.png' %}"></div>
        <div class="zip_1"><img src="{% static 'shrek/images/⚡️.png' %}"></div>
        <div class="top_header">
            <div class="top_header__title">
                SHRELOPER
            </div>
            <div class="top_header__navigation">
                <div class="top_header__navigation__button">Работы</div>
                <div class="top_header__navigation__button">Услуги</div>
                <div class="top_header__navigation__button">Процесс</div>
                <div class="top_header__navigation__button">Обо мне</div>
                <div class="top_header__navigation__button">Контакты</div>
            </div>
        </div>
        <div class="title">
            Сайты о Шреке, которые убеждают и продают
        </div>
        <div class="subtitle">
            Изучаем ваших шреков. Узнаем, что важно ослам, как вызвать доверие и довести до заявки или покупки
        </div>
        <div class="buttons">
            <a class="buttons__button_left" href="https://t.me/dmsysoev">
                Связаться в Telegram
            </a>
            <a class="buttons__button_right"  href="https://www.youtube.com/watch?v=1TPuf-xFmWI&t=28s">
                <img src="{% static 'shrek/images/Polygon 1.png' %}">
                Видеопортфолио
            </a>
        </div>
    </header>
    <section class="portfolio">
        <div class="portfolio__navigation">
            <button class="portfolio__navigation__button active" onclick="Select('all')">Все</button>
            <button class="portfolio__navigation__button" onclick="Select('bad')">Шакальничрек</button>
            <button class="portfolio__navigation__button" onclick="Select('smile')">Улыбается))</button>
            <button class="portfolio__navigation__button" onclick="Select('what')">Ахуел</button>
        </div>
        <div class="portfolio__example">
            <img src="{% static 'shrek/images/756079611261831.jpg' %}" class="portfolio__example__big smile">
            <div class="portfolio__example__container">
                <img src="{% static 'shrek/images/212657.jpg' %}" class="portfolio__example__small smile">
                <img src="{% static 'shrek/images/regnum_picture_14956618541757852_normal.png' %}" class="portfolio__example__small what">
            </div>
            <img src="{% static 'shrek/images/Без названия.jpg' %}" class="portfolio__example__big bad">
            <div class="portfolio__example__container">
                <img src="{% static 'shrek/images/unnamed.jpg' %}" class="portfolio__example__small smile">
                <img src="{% static 'shrek/images/square_320_ed48e3b93e8475ed8493f9baadf10eda.jpg' %}" class="portfolio__example__small bad">
            </div>
        </div>
    </section>
    <section class="about_me">
        <img src="{% static 'shrek/images/Герои_мультфильма_Шрек.jpg' %}">
        <div class="about_me__text">
            <div class="about_me__text__title">
                Shresigner&Shreveloper
            </div>
            <div class="about_me__text__main_text">
                <p>Огр счастлив и доволен своей жизнью.</p>
                <p>Шрек — огромный зелёный огр (великан-людоед из западноевропейских сказок), который живёт в одиночестве на болоте в маноре Дюлок, населённом людьми, животными, куклами и др. из разных европейских сказок и легенд.</p>
            </div>
            <div class="about_me__text__achievments">
                <div class="about_me__text__achievments__example">
                    <div class="about_me__text__achievments__example__bold">40+</div>
                    <div class="about_me__text__achievments__example__main">Шреков запустили</div>
                </div>
                <div class="about_me__text__achievments__example">
                    <div class="about_me__text__achievments__example__bold">100%</div>
                    <div class="about_me__text__achievments__example__main">Выполнено в срок</div>
                </div>
                <div class="about_me__text__achievments__example">
                    <div class="about_me__text__achievments__example__bold">10+</div>
                    <div class="about_me__text__achievments__example__main_3"">Лет опыта</div>
                </div>
            </div>
        </div>
    </section>
    <section class="service">
        <div class="service__title">Услуги</div>
        <div class="service__title__container">
            {% for el in service %}
            <div class="service__title__container__example">
                <div class="service__title__container__example__frame">
                    <div class="service__title__container__example__frame__text">
                        <div class="service__title__container__example__frame__text__number">0{{ forloop.counter }}</div>
                        <div class="service__title__container__example__frame__text__title">{{ el.name }}</div>
                    </div>
                    <div class="service__title__container__example__frame__main">{{ el.text }}</div>
                    <img src="{% static 'shrek/images/Line 1.png' %}">
                    <div class="service__title__container__example__frame__price">От {{ el.cost}} ₽</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="cost">
        <div class="clock"><img src="{% static 'shrek/images/⏱️.png' %}"></div>
        <div class="programmer_2"><img src="{% static 'shrek/images/👨🏻_💻.png' %}"></div>
        <div class="cost__title">Подсчет стоимости</div>
        <div class="cost__block_form">
            <div class="cost__block_form__areas">
                <select class="cost__block_form__areas__type cost__block_form__areas__type__text" name="service" id="service">
                    <option disabled selected>Тип работы</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <select class="cost__block_form__areas__type cost__block_form__areas__type__text" name="service" id="service">
                    <option disabled selected>Насколько большой проект?</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <div class="cost__block_form__areas__check">
                    <input type="checkbox" class="cost__block_form__areas__check__box">
                    <div class="cost__block_form__areas__check__text">Да, я слышал про осеннюю школу.
                        Интересно а после нее будет егэ?</div>
                </div>
            </div>
            <div class="cost__block_form__button">Рассчитать стоимость</div>
        </div>
        <div class="cost__block_result">
            <div class="cost__block_result__title">Примерный подсчет:</div>
            <div class="cost__block_result__price">
                <div class="cost__block_result__price__title">Стоимость</div>
                <div class="cost__block_result__price__value">От 120 000р</div>
            </div>
            <div class="cost__block_result__dates">
                <div class="cost__block_result__dates__title">Примерные сроки</div>
                <div class="cost__block_result__dates__range">14 рабочих дней</div>
            </div>
            <div class="cost__block_result__button">Обсудить проект</div>
        </div>
    </section>
    <section class="qa">
        <div class="qa__title">Вопрос-ответ</div>
        <div class="qa__container">
            <div class="qa__container__big_example" id="first">
                <div class="qa__container__big_example__title">
                    <div class="qa__container__big_example__title__text">Делаете только дизайн?</div>
                    <img src="{% static 'shrek/images/Vector.png' %}" class="">
                </div>
                <div class="qa__container__big_example__main_text">
                    <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.</p>
                    <p>А еще:</p>
                    <ul>
                        <li>Не нужен программист, тильдой легко управлять</li>
                        <li>Можно менять контент самому без помощи специалиста</li>
                        <li>Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                        <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                        <li>Адекватные цены тарифов</li>
                    </ul>
                </div>
            </div>
            <div class="qa__container__big_example" id="second">
                <div class="qa__container__big_example__title">
                    <div class="qa__container__big_example__title__text">Почему тильда</div>
                    <img src="{% static 'shrek/images/Vector.png' %}" class="">
                </div>
                <div class="qa__container__big_example__main_text">
                    <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.</p>
                    <p>А еще:</p>
                    <ul>
                        <li>Не нужен программист, тильдой легко управлять</li>
                        <li>Можно менять контент самому без помощи специалиста</li>
                        <li>Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                        <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                        <li>Адекватные цены тарифов</li>
                    </ul>
                </div>
            </div>
            <div class="qa__container__big_example" id="third">
                <div class="qa__container__big_example__title">
                    <div class="qa__container__big_example__title__text">Какие сроки?</div>
                    <img src="{% static 'shrek/images/Vector.png' %}" class="">
                </div>
                <div class="qa__container__big_example__main_text">
                    <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.</p>
                    <p>А еще:</p>
                    <ul>
                        <li>Не нужен программист, тильдой легко управлять</li>
                        <li>Можно менять контент самому без помощи специалиста</li>
                        <li>Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                        <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                        <li>Адекватные цены тарифов</li>
                    </ul>
                </div>
            </div>
            <div class="qa__container__big_example" id="fourth">
                <div class="qa__container__big_example__title">
                    <div class="qa__container__big_example__title__text">Как происходит оплата?</div>
                    <img src="{% static 'shrek/images/Vector.png' %}" class="">
                </div>
                <div class="qa__container__big_example__main_text">
                    <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.</p>
                    <p>А еще:</p>
                    <ul>
                        <li>Не нужен программист, тильдой легко управлять</li>
                        <li>Можно менять контент самому без помощи специалиста</li>
                        <li>Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                        <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                        <li>Адекватные цены тарифов</li>
                    </ul>
                </div>
            </div>
            <div class="qa__container__big_example" id="fifth">
                <div class="qa__container__big_example__title">
                    <div class="qa__container__big_example__title__text">Сколько правок можно сделать?</div>
                    <img src="{% static 'shrek/images/Vector.png' %}" class="">
                </div>
                <div class="qa__container__big_example__main_text">
                    <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.</p>
                    <p>А еще:</p>
                    <ul>
                        <li>Не нужен программист, тильдой легко управлять</li>
                        <li>Можно менять контент самому без помощи специалиста</li>
                        <li>Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                        <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                        <li>Адекватные цены тарифов</li>
                    </ul>
                </div>
            </div>
            <div class="qa__container__big_example" id="sixth">
                <div class="qa__container__big_example__title">
                    <div class="qa__container__big_example__title__text">Работаете со срочными проектами?</div>
                    <img src="{% static 'shrek/images/Vector.png' %}" class="">
                </div>
                <div class="qa__container__big_example__main_text">
                    <p>Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные лендинги и даже небольшие интернет магазины.</p>
                    <p>А еще:</p>
                    <ul>
                        <li>Не нужен программист, тильдой легко управлять</li>
                        <li>Можно менять контент самому без помощи специалиста</li>
                        <li>Многие делают сайты именно на тильде. Например сбер, яндекс, и тд</li>
                        <li>Можно подключить разные сервисы, формы (телеграм, мейлчамп, crm)</li>
                        <li>Адекватные цены тарифов</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="zip_2"><img src="{% static 'shrek/images/⚡️.png' %}"></div>
        <div class="programmer_3"><img src="{% static 'shrek/images/👨🏻_💻.png' %}"></div>
        <div class="comment_2"><img src="{% static 'shrek/images/💬 (1).png' %}"></div>
        <div class="footer__title">Оставить заявку</div>
        <div class="footer__subtitle">Я сам напишу вам, и сообщу все детали</div>
        <div class="footer__form">
            <form method="post" enctype="multipart/form-data" class="footer__form__areas">
                {% csrf_token %}
                <input type="text" class="footer__form__areas__text" placeholder="Имя" name="name" id="name" required>
                <input type="text" class="footer__form__areas__text"placeholder="Почта" name="mail" id="mail" required>
                <select class="footer__form__areas__text" name="service" id="service" required>
                    <option value="Не выбрано">Услуга</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <textarea name="comment" id="comment" class="footer__form__areas__comment" placeholder="Комментарий" required></textarea>
                <button type="submit" class="footer__form__areas__button">Отправить сообщение</button>
            </form>
        </div>
    </footer>
    <script src="{% static 'shrek/js/main.js' %}"></script>
</body>
</html>